*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 500;
}
.black{
    color: black;
}
.white{
    color: white;
}
.blue{
    color: #12a2fe;
}

.container{
    width: 76vw;
    margin: 5px auto;
}
.text {
    line-height: 1.5;
    font-size: 18px;
}
.btn{
    text-shadow: 2px 0 rgba(0,0,0,0.31);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    box-shadow: 0 4px 0 0 #ff8a24;
    background: linear-gradient(to bottom, #ffd000, #ff9f1e);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 35px 0 0 20px;
}
.d-none{
    display: none;
}


.tablet{
    display: none;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 0;
}
.burger{
    margin: 15px 3vw;
}
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin:15px 0 15px 8vw;
}
.nav-link {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0 5px;
}
.nav-link a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-link img {
    margin-right: 16px;
    width: 30px;
}


/*welcome*/
.welcome{
    min-height: 700px;
    background: url(assets/welcomeBg.jpg) no-repeat center top;
    background-size: initial;
    display: flex;
    align-items: center;
}
.welcome__description{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-top: 40px;
    padding-left: 5px;
    font-weight: 600;
    line-height: 40px;
}
.welcome__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
}

/*we-are*/
.we-are{
    min-height: 700px;
    background-repeat: no-repeat !important;
    background: url(assets/weAreBg.png) center bottom;
    display: flex;
    align-items: center;
}
.we-are__info{
    padding: 25px 0;
    width: 550px;
    font-size: 25px;
    line-height: 1.4;
}

.we-are__more{
    width: 555px;
}


/*why-us*/


.why-us__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 75px 0;

}
.card{
    text-align: center;
    width: 300px;
}

/*projects*/
.item {
    width: 200px;
    height: 160px;
    background: gray;
}
.projects{
    background: #efefef;
}
.projects .title{
    padding: 60px 0;
}
#wrapper {
    width: 100%;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 160px);
    grid-auto-flow: column ;
    margin: auto;
    box-sizing: border-box;
}

/*about-us*/

.about-us .title{
    margin:80px 0;
}
.about-us__container{
    padding-bottom: 90px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.about-us__name{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding:30px 0 25px 20px;
    font-weight: 600;
}
.about-us .text{
    padding: 0 35px;
}
.about-us .btn{
    margin-left: 30px;
}
.price-form-shadow {
    width: 96%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    height: 15px;
    margin: auto;
}





/*process*/
.process{
    background-repeat: no-repeat !important;
    background: url(assets/processBg.png) center bottom;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 900px;
}

.process__map{
    display: inline-flex;
    padding: 50px 0;
    position: relative;
}
.process__step{
    position: absolute;
}
.process__point{
    height: 35px;
    width: 35px;
    background-color: #ffd200;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process__description{
    width: 350px;
    padding: 10px;
    background: white;
    position: relative;
    z-index: 100;
    border-radius: 5px;
    min-height: 190px;
}
.process__description-title{
    font-size: 22px;
    line-height: 1.2;
}
.process__description .text{
    width: 100%;
}
.process__description img{
    position: absolute;
    top: 5px;
    right: 5px;
}
.process__step-1{
    top: 60px;
    left: 310px;
}
.process__step-2{
    top: 190px;
    left: 140px;
}
.process__step-3{
    top: 101px;
    left: 353px;
}
.process__step-4{
    top: 220px;
    left: 300px;
}
.process__step-5{
    top: 240px;
    left: 80px;
}
.process__step-6{
    top: 310px;
    left: 120px;
}
.process__step-7{
    top: 530px;
    left: 470px;
}




/*license*/
.license{
    margin: 50px 0;
}
.license__list{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
}
.license__list img{
    border: 1px solid black;
    margin-right: 15px;
}

/*more-info*/
.more-info .container{
    display: flex;
    flex-wrap: wrap;
}
.more-info__about{
    width: 635px;
}
.more-info__ask{
    font-size: 25px;
    line-height: 1.4;
    margin-top: 25px;
}
.more-info__question{
    font-size: 18px;
    margin-left: 30px;
}

.more-info__question p{
    margin: 30px 0;
}

.more-info__box{
    margin-top: 70px;
    max-width: 365px;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding:40px 40px 70px 40px;
    border-radius: 10px;
}
.more-info__box div{
    padding: 15px 0;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}
.more-info__box div a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.more-info__box div img{
    margin-right: 10px;
}

.more-info__box-title{
    font-size: 24px;
    font-weight: 600;
}

/*map*/
.map{
    margin: 50px 20px;
}

/*footer*/
footer{
    margin: 50px;
}

footer .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer div{
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 28px;
}
footer p a{
    font-size: 20px;
}
.li-phone{
    font-weight: 600;
}
.footer__img{
    margin: 5px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
    margin-bottom: 500px;
}
.modal h4{
    font-size: 22px;
}
.modal__footer{
    display: flex;
    justify-content: space-between;
}
.modal__btn{
    background: black;
    color: white;
    padding: 10px 15px;
    border:none;
}
.modal__title{
    border-bottom: 1px solid blue;
    padding-bottom: 20px;
}

.modal__steps{
    margin: 10px 20px;
    min-height: 200px;
}
.modal__inputs{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.modal__inputs input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #000;
}
.modal__steps .modal__step:not(:first-child) {
    display: none;
}
.modal__steps div{
    text-align: left;
}
.modal__steps div h4{
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.modal__steps label{
    margin: 25px 0;
    display: flex;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.bonus{
    min-height: 200px;
    background: #bbe6ff;
    margin: 50px 0;
    text-align: center;
}
.bonus__btn{
    width: 30%;
    background: #5400ee;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    border:none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: auto;
}
.message{
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    width: 95%;
    resize: none;
    height: 150px;
}
.bonus input{
    width: 30%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* Slide in animation */
@keyframes slideIn {
    from {
        margin-top: -300px;
    }
    to {
        margin-top: 300px;
    }
}
.slider-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.slider-container p{
    display: flex;
    justify-content: space-between;
}
#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
}




@media (max-width: 965px){
    .container {
        width: 90vw;
    }
    .tablet{
        display: block;
    }
    .desktop{
        display: none;
    }
    .welcome{
        background: none;
    }
    .welcome__description{
        color: black;
    }
}
